{% extends 'starter-page.html' %}
{% load static %}
{% block content %}

     <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Neoncart collection <br></h2>
        <p>Fancy clothes and shoes at very affordable prices</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>History About Neoncart</h3>
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
            <p>Neocart was started on the 14th of february 2000 by Ernest Omondi and Faith Nyakio.</p>
            <p> We have formed partnerships with major textile such as Africa  collect Textile and Bahira Garments limited to ensure that we provide best quality products at pocket-friendly prices.</p>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                preview of products offered at Neocart
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>shoes and clothes for men.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>shoes and clothes for ladies.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>shoes and clothes for children.</span></li>
              </ul>
              <p>
               Our services run worldwide and we deliver on time no matter where you are at any time of the day
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


{% endblock %}