{% extends 'starter-page.html' %}

{% block content %}
     <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Delivery</h2>
        <p>Make your delivery here</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gx-lg-0 gy-4">



          </div>

          <div class="col-lg-8">
            <form method="post" >
                {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="email" required="">
                </div>
                  <div class="col-md-6 ">
                  <input type="text" class="form-control" name="location" placeholder="location" required="">
                </div>

                <div class="col-md-12">
                  <input type="number" class="form-control" name="contact" placeholder="contact" required="">
                </div>

                <div class="col-md-12">
                    <input type="text" class="form-control" name="product selected" placeholder="product selected" required="">
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your order has been sent. Thank you!</div>

                  <button type="submit">Send Order</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->


{% endblock %}